@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
/* @media screen and (max-width: 2560px) and (min-width: 700px) { */

body {
    background-color: #0a0a23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(assets/dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5em;
}

#game {
    width: 800px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 20px 40px 60px;
    border-radius: 50px;
    text-align: center;
    backdrop-filter: blur(6px);
    /* border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1); */
    border: 1px solid #e39b10ba;
    border-bottom: 1px solid rgb(255 255 255 / 25%);
    border-left: 1px solid #de8d11;
    box-shadow: 0 25px 50px rgb(209 12 12 / 59%);

}

#controls,
#stats {
    padding: 40px 10px;
    color: #0a0a23;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#monsterStats {
    display: none;
    padding: 50px 0px;
    color: #ffffff;
    background-color: #c70d0d;
    flex-direction: column;
    gap: 10px;
}

.stat {
    font-family: 'Carter One', system-ui;

    text-transform: uppercase;
    color: #fff;
    font-size: 1.75rem;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 50px;
    align-items: center;
    padding: 15px 16px 15px;
    border-radius: 10px;
    align-self: center;
    /* line-height: 26px; */
    border: none;
    background: linear-gradient(90deg, #e34110, #903c0e);
    box-shadow: inset -8px 0 8px rgb(170 136 126 / 15%), inset 0 -8px 8px rgb(235 41 35 / 25%), 0 0 2px rgb(168 32 32 / 91%), 10px 20px 25px rgb(229 28 28 / 70%);
    overflow: hidden;
}

.stat::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #de5511, #9d3f09);
    border-radius: 10px;
    box-shadow: -10px 10px 10px rgba(115, 56, 31, 0.25), 10px 5px 10px rgba(219, 38, 14, 0.15);
    border-left: 1px solid #ed4b06;
    border-bottom: 1px solid #ac4a04;
    border-top: 2px solid #c14e07;

}

.stat b {
    position: relative;
    color: #fff;

}

.xp {
    background: linear-gradient(90deg, #0066a2, #0f7fc5);
    box-shadow: inset -8px 0 8px rgb(208 232 238 / 15%), inset 0 -8px 8px rgb(53 206 217 / 25%), 0 0 2px rgb(4 47 128 / 91%), 10px 20px 25px rgb(15 105 209 / 91%);
}

.xp::before {
    background: linear-gradient(90deg, #0db0df, #45b1f4);
    box-shadow: -10px 10px 10px rgba(115, 56, 31, 0.25), 10px 5px 10px rgba(219, 38, 14, 0.15);
    border-left: 1px solid #3c8ee7;
    border-bottom: 1px solid #1474d1;
    border-top: 2px solid #0f839d;
}

.gold {
    background: linear-gradient(0deg, rgb(132 82 10 / 96%) 0%, rgb(241 218 9) 100%);
    box-shadow: inset -8px 0 8px rgb(139 149 13 / 15%), inset 0 -8px 8px rgb(235 222 35 / 25%), 0 0 2px rgb(168 164 32 / 91%), 10px 20px 25px rgb(232 204 20 / 70%);
}

.gold::before {
    background: linear-gradient(90deg, rgb(228 207 18), rgb(135 122 7));
    box-shadow: -10px 10px 10px rgba(115, 56, 31, 0.25), 10px 5px 10px rgba(219, 38, 14, 0.15);
    border-left: 1px solid #d1cd3c;
    border-bottom: 1px solid #63570a;
    border-top: 2px solid #ded33f;
}

.health::before {
    background: linear-gradient(90deg, #4ad818, #09801a);
    box-shadow: -10px 10px 10px rgb(74 91 77 / 25%), 10px 5px 10px rgb(65 89 64 / 15%);
    border-left: 1px solid #0f8308;
    border-bottom: 1px solid #09aa10;
    border-top: 2px solid #1ec107;

}


.health {
    background: linear-gradient(0deg, rgb(7 90 16) 0%, rgb(12 236 21) 100%);
    box-shadow: inset -8px 0 8px rgb(156 191 154 / 15%), inset 0 -8px 8px rgb(169 140 128 / 25%), 0 0 2px rgb(10 87 5 / 75%), 10px 20px 25px rgb(20 181 33 / 70%);
}

.monster-stat {
    font-family: 'Carter One', system-ui;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.75rem;
    position: relative;
    align-items: center;
    padding: 15px 16px 5px;
    border-radius: 10px;
    align-self: center;
    line-height: 26px;
    border: none;
    background: linear-gradient(90deg, #c34d04, #e84f07);

}

.game-button {
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', system-ui;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
    border: none;
    margin: 15px 15px 30px;
    background: repeating-linear-gradient(45deg, #8dc0dc, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    border-top: 3px solid rgba(255, 255, 255, .3);
    color: #fff !important;
    border-radius: 8px;
    padding: 8px 15px 10px;
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0, 0, 0, .3);
    /* text-shadow: 2px 2px 1px #131010, -2px 2px 1px #100e0e, 2px -2px 1px #281d1d, -2px -2px 1px #554e4e, 0px 2px 1px #312828, 0px -2px 1px #3e3b3b, 0px 4px 1px #312020, 2px 4px 1px #1c1a1a, -2px 4px 1px #150c0c;
    background: repeating-linear-gradient(45deg, #97afdb8f, #0a0e20a6 5px, #10151f7a 5px, #291f1f 10px);
    border-bottom: 3px solid rgb(169 156 156 / 50%);
    border-top: 3px solid rgba(255, 255, 255, .3);
    box-shadow: 0 6px 0 #3e2828, 0 8px 1px 1px rgb(0 0 0 / 30%), 0 10px 0 5px #2f0909, 0 12px 0 5px #4e2f2f, 0 15px 0 5px #1c1818, 0 15px 1px 6px rgba(0, 0, 0, .3); */
}



.game-button:hover {
    top: 2px;
    box-shadow: 0 4px 0 #266d91, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #124d7d, 0 10px 0 5px #1a549a, 0 13px 0 5px #0c435e, 0 13px 1px 6px rgba(0, 0, 0, .3);
}


.monster {
    text-transform: uppercase;
}

/* } */

/* @media screen and (max-width: 500px) and (min-width: 300px) { */

@media screen and (max-width:800px) {
    #game {
        max-width: 600px;
        /* height: 650px; */
        padding: 20px 20px 60px;
        border-radius: 20px;
    }

    .stat {
        height: 75px;
        font-size: 1.5rem;
        padding: 15px 10px 0px;
        line-height: 40px;

    }


    #controls {
        flex-direction: column;
        padding: 40px 10px;
    }

    #stats {
        padding: 40px 5px 0px;
        display: flex;
        gap: 10px;
    }

    #monsterStats {
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
    }

    .game-button {
        padding: 20px 60px 20px;
        font-size: 1.5rem;
        padding: 8px 15px 10px;
    }

    #text {
        font-size: 1.5em;
    }

    .monster-stat {
        font-size: 1em;

    }
}

@media screen and (max-width:500px) {

    #game {
        max-width: 350px;
        height: 600px;
        padding: 20px 5px 60px;
        border-radius: 20px;
    }

    .xp,
    .gold {
        line-height: 45px;
    }

    .stat {
        font-size: 1rem;
        line-height: 30px;
    }

    #text {
        font-size: 1em;
    }

    #stats {
        width: 330px;
        padding: 40px 5px 0px;
    }

    .game-button {
        padding: 20px 60px 20px;
        font-size: 1rem;
        padding: 8px 15px 10px;
    }

    #controls {
        padding: 20px 10px;
    }



}